Ник: <tmplVar name="Nick"><tmplBr>
Имя: <tmplVar name="FirstName"><tmplBr>
Фамилия: <tmplVar name="LastName"><tmplBr>
Пол: <tmplVar name="Gender"><tmplBr>
Основной e-mail: <tmplVar name="e-mail"><tmplBr>
День рождения: <tmplVar name="Birthday"><tmplBr>
Возраст: <tmplVar name="Age"><tmplBr>
UIN: <tmplVar name="UIN"><tmplBr>
Внешний IP: <tmplVar name="IP"><tmplBr>
Внутренний IP: <tmplVar name="RealIP"><tmplBr>
Клиент ICQ: <tmplVar name="MirVer"><tmplBr>
Версия ICQ: <tmplVar name="Version"><tmplBr>
Порт ICQ: <tmplVar name="UserPort"><tmplBr>
В онлайне с: <tmplVar name="LogonTS"><tmplBr>
Компьютер включён в: <tmplVar name="TickTS"><tmplBr>
Idle с: <tmplVar name="IdleTS"><tmplBr>
Статус ICQ: <tmplVar name="Status"><tmplBr>
Другие e-mail адреса: <tmplVar name="Mye-mail"><tmplBr>
Номер телефона: <tmplVar name="Phone"><tmplBr>
Номер факса: <tmplVar name="Fax"><tmplBr>
Номер мобильного телефона: <tmplVar name="Cellular"><tmplBr>
Другие телефонные номера: <tmplVar name="MyPhone"><tmplBr>
Страна: <tmplVar name="Country"><tmplBr>
Штат: <tmplVar name="State"><tmplBr>
Индекс: <tmplVar name="ZIP"><tmplBr>
Город: <tmplVar name="City"><tmplBr>
Улица: <tmplVar name="Street"><tmplBr>
Язык 1: <tmplVar name="Language1"><tmplBr>
Язык 2: <tmplVar name="Language2"><tmplBr>
Язык 3: <tmplVar name="Language3"><tmplBr>
Временная зона: <tmplVar name="Timezone"><tmplIf name="Timezone">, локальное время: <tmplVar name="Localtime"></tmplIf><tmplBr>
Фирма: <tmplVar name="Company"><tmplBr>
Отдел: <tmplVar name="Department"><tmplBr>
Должность: <tmplVar name="Position"><tmplBr>
Страна фирмы: <tmplVar name="CompanyCountry"><tmplBr>
Штат фирмы: <tmplVar name="CompanyState"><tmplBr>
Индекс фирмы: <tmplVar name="CompanyZIP"><tmplBr>
Город фирмы: <tmplVar name="CompanyCity"><tmplBr>
Улица фирмы: <tmplVar name="CompanyStreet"><tmplBr>
Web-сайт фирмы: <tmplVar name="CompanyHomepage"><tmplBr>
Домашняя страничка: <tmplVar name="Homepage"><tmplBr>
Прошлое: <tmplVar name="Past"><tmplBr>
Интересы: <tmplVar name="Interest"><tmplBr>
О: <tmplVar name="About"><tmplBr>
Заметки: <tmplVar name="MyNotes"><tmplBr>
