Nickname: <tmplVar name="Nick"><tmplBr>
First name: <tmplVar name="FirstName"><tmplBr>
Last name: <tmplVar name="LastName"><tmplBr>
Gender: <tmplVar name="Gender"><tmplBr>
Primary e-mail: <tmplVar name="e-mail"><tmplBr>
Date of birth: <tmplVar name="Birthday"><tmplBr>
Age: <tmplVar name="Age"><tmplBr>
UIN: <tmplVar name="UIN"><tmplBr>
External IP: <tmplVar name="IP"><tmplBr>
Internal IP: <tmplVar name="RealIP"><tmplBr>
ICQ client: <tmplVar name="MirVer"><tmplBr>
ICQ version: <tmplVar name="Version"><tmplBr>
ICQ port: <tmplVar name="UserPort"><tmplBr>
Online since: <tmplVar name="LogonTS"><tmplBr>
System up since: <tmplVar name="TickTS"><tmplBr>
Idle time since: <tmplVar name="IdleTS"><tmplBr>
ICQ status: <tmplVar name="Status"><tmplBr>
Other e-mail's: <tmplVar name="Mye-mail"><tmplBr>
Phone number: <tmplVar name="Phone"><tmplBr>
Fax number: <tmplVar name="Fax"><tmplBr>
Mobile phone number: <tmplVar name="Cellular"><tmplBr>
Other phone numbers: <tmplVar name="MyPhone"><tmplBr>
Country: <tmplVar name="Country"><tmplBr>
State: <tmplVar name="State"><tmplBr>
ZIP: <tmplVar name="ZIP"><tmplBr>
City: <tmplVar name="City"><tmplBr>
Street: <tmplVar name="Street"><tmplBr>
Spoken language 1: <tmplVar name="Language1"><tmplBr>
Spoken language 2: <tmplVar name="Language2"><tmplBr>
Spoken language 3: <tmplVar name="Language3"><tmplBr>
Timezone: <tmplVar name="Timezone"><tmplIf name="Timezone">, localtime: <tmplVar name="Localtime"></tmplIf><tmplBr>
Company: <tmplVar name="Company"><tmplBr>
Department: <tmplVar name="Department"><tmplBr>
Position: <tmplVar name="Position"><tmplBr>
Company country: <tmplVar name="CompanyCountry"><tmplBr>
Company state: <tmplVar name="CompanyState"><tmplBr>
Company ZIP: <tmplVar name="CompanyZIP"><tmplBr>
Company city: <tmplVar name="CompanyCity"><tmplBr>
Company street: <tmplVar name="CompanyStreet"><tmplBr>
Company website: <tmplVar name="CompanyHomepage"><tmplBr>
Homepage: <tmplVar name="Homepage"><tmplBr>
Past background: <tmplVar name="Past"><tmplBr>
Interests: <tmplVar name="Interest"><tmplBr>
About: <tmplVar name="About"><tmplBr>
Notes: <tmplVar name="MyNotes"><tmplBr>
