<tmplIf name="Nick">Nickname: <tmplVar name="Nick"><tmplBr></tmplIf>
<tmplIf name="e-mail">Primary e-mail: <tmplVar name="e-mail"><tmplBr></tmplIf>
<tmplIf name="Status">MSN status: <tmplVar name="Status"><tmplBr></tmplIf>
<tmplIf name="MyNotes">Notes: <tmplVar name="MyNotes"><tmplBr></tmplIf>
