Nickname: <tmplVar name="Nick">
First name: <tmplVar name="FirstName">
Last name: <tmplVar name="LastName">
Gender: <tmplVar name="Gender">
Primary e-mail: <tmplVar name="e-mail">
Date of birth: <tmplVar name="Birthday">
Age: <tmplVar name="Age">
UIN: <tmplVar name="UIN">
External IP: <tmplVar name="IP">
Internal IP: <tmplVar name="RealIP">
ICQ client: <tmplVar name="MirVer">
ICQ version: <tmplVar name="Version">
ICQ port: <tmplVar name="UserPort">
Online since: <tmplVar name="LogonTS">
System up since: <tmplVar name="TickTS">
Idle time since: <tmplVar name="IdleTS">
ICQ status: <tmplVar name="Status">
Other e-mail's: <tmplVar name="Mye-mail">
Phone number: <tmplVar name="Phone">
Fax number: <tmplVar name="Fax">
Mobile phone number: <tmplVar name="Cellular">
Other phone numbers: <tmplVar name="MyPhone">
Country: <tmplVar name="Country">
State: <tmplVar name="State">
ZIP: <tmplVar name="ZIP">
City: <tmplVar name="City">
Street: <tmplVar name="Street">
Spoken language 1: <tmplVar name="Language1">
Spoken language 2: <tmplVar name="Language2">
Spoken language 3: <tmplVar name="Language3">
Timezone: <tmplVar name="Timezone"><tmplIf name="Timezone">, localtime: <tmplVar name="Localtime"></tmplIf>
Company: <tmplVar name="Company">
Department: <tmplVar name="Department">
Position: <tmplVar name="Position">
Company country: <tmplVar name="CompanyCountry">
Company state: <tmplVar name="CompanyState">
Company ZIP: <tmplVar name="CompanyZIP">
Company city: <tmplVar name="CompanyCity">
Company street: <tmplVar name="CompanyStreet">
Company website: <tmplVar name="CompanyHomepage">
Homepage: <tmplVar name="Homepage">
Past background: <tmplVar name="Past">
Interests: <tmplVar name="Interest">
About: <tmplVar name="About">
Notes: <tmplVar name="MyNotes">
